.logo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 500px;
    form{
        display: flex;
        flex-direction: column;
       
        
        label{
            display: block;
            font-size: 1.4rem;
            font-weight: 500;


        }
        input{
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem auto;
            width: 100%;
            border: 1px solid #777;
            border-radius: 3px;
            outline: none;
        }
        select{
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem auto;
            width: 100%;
            border: 1px solid #777;
            border-radius: 3px;
            outline: none;
        }
        .btn{
            background-color: #2279d6;
            font-size: 1.6rem;
            padding: 10px;
            color: #fff;
            border-color: #2279d6;
        }

        .progress {
            background-color: #aaa;
            border: 1px solid transparent;
            border-radius: 10px;
            .progress-bar {
              background-color: var(--light-blue);
              border: 1px solid transparent;
              border-radius: 10px;
              color: #fff;
              font-size: 1.2rem;
              font-weight: 500;
              padding: 0 1rem;
            }
          }

    }
}