.theme{
    display: flex;
    flex-direction: row;
    gap: 30px;

    .right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .left{
        display: flex;
        flex-direction: column;
        width: 50%;


        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 1.4rem;
        
            thead {
              border-top: 2px solid var(--light-blue);
              border-bottom: 2px solid var(--light-blue);
            }
        
            th {
              border: 1px solid #eee;
            }
        
            th,
            td {
              vertical-align: top;
              text-align: left;
              padding: 8px;
              &.icons {
                > * {
                  margin-right: 5px;
                  cursor: pointer;
                }
              }
            }
        
            tr {
              border-bottom: 1px solid #ccc;
            }
        
            tr:nth-child(even) {
              background-color: #eee;
            }
          }



    }
    form{
        display: flex;
        flex-direction: column;
    
        
        label{
            display: block;
            font-size: 1.4rem;
            font-weight: 500;


        }
        input{
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem auto;
            width: 100%;
            border: 1px solid #777;
            border-radius: 3px;
            outline: none;
        }
        select{
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem auto;
            width: 100%;
            border: 1px solid #777;
            border-radius: 3px;
            outline: none;
        }
        .btn{
            background-color: #2279d6;
            font-size: 1.6rem;
            padding: 10px;
            color: #fff;
            border-color: #2279d6;
        }

        .progress {
            background-color: #aaa;
            border: 1px solid transparent;
            border-radius: 10px;
            .progress-bar {
              background-color: var(--light-blue);
              border: 1px solid transparent;
              border-radius: 10px;
              color: #fff;
              font-size: 1.2rem;
              font-weight: 500;
              padding: 0 1rem;
            }
          }

    }
}