.footer {
  background-color: var(--header-color);
  color: var(--forground);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  p {
    color: var(--forground);
  }
}
